* {
  font-family: 'Source Sans Pro' !important; }

body {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

.button-filled {
  /* BG: */
  background: #3ECF8E;
  border-radius: 40px;
  /* 18:35:18:35: */
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: #FFFFFF;
  width: 200px;
  height: 100%; }

.button-hallow {
  border: 3px solid #FFFFFF;
  border-radius: 40px;
  font-size: 14px;
  background-color: transparent;
  width: 200px;
  height: 100%;
  margin-left: 10px; }
  .button-hallow:hover {
    background-color: white;
    color: black; }

header {
  overflow: hidden;
  position: relative;
  height: 80vh;
  /* Rectangle: */
  background-image: linear-gradient(-21deg, #A6FFCB 0%, #05D5FF 25%, #5533FF 80%); }
  header nav {
    background-color: transparent;
    box-shadow: none; }
    header nav ul > li > a {
      color: #D9FCFF; }
  header .header-content {
    margin-top: 10vh; }
    header .header-content .event-card {
      overflow: visible;
      z-index: 5;
      height: 55vh;
      padding: 10px;
      width: 130%; }
      header .header-content .event-card .card-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
        color: #24B47E;
        letter-spacing: 0.8px; }
    header .header-content .error {
      margin-top: 2rem; }
      header .header-content .error p {
        font-size: 16px;
        color: #8998AA; }
    header .header-content .title {
      /* Velkommen til ProgNe: */
      font-family: SourceSansPro-Regular;
      font-size: 42px;
      color: #FFFFFF;
      letter-spacing: 0.06px; }
    header .header-content .subtitle {
      font-family: SourceSansPro-Regular;
      font-size: 17px;
      color: #D9FCFF !important;
      letter-spacing: 0.42px;
      line-height: 28px; }
  header:after {
    content: '';
    z-index: 0;
    height: 25vh;
    width: 110%;
    position: absolute;
    bottom: 0;
    left: -5vh;
    background-color: white;
    -webkit-transform: rotate(-6.5deg);
    -webkit-transform-origin: 100% 0 0;
    -moz-transform: rotate(-6.5deg);
    -moz-transform-origin: 100% 0 0;
    -ms-transform: rotate(-6.5deg);
    -ms-transform-origin: 100% 0 0;
    transform: rotate(-6.5deg);
    transform-origin: 100% 0 0; }

section {
  padding: 50px; }
  section .title {
    text-align: center;
    color: #24B47E;
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase; }
  section .subtitle {
    text-align: center;
    line-height: 1.8;
    color: #868686; }

#about-us .container {
  width: 50%; }

#board {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f9fc; }
  #board .container {
    width: 50%; }
  #board h4 {
    text-align: center; }
  #board .carousel {
    margin-top: 5rem;
    height: 15rem;
    text-align: center; }
    #board .carousel .carousel-item img {
      border-radius: 50%; }
  #board .board-info {
    width: 100%;
    text-align: center; }
    #board .board-info #board-name {
      color: #6B7C93;
      font-size: 26px;
      font-weight: 600; }
    #board .board-info #board-title {
      color: #6B7C93;
      font-size: 16px; }
    #board .board-info #board-email {
      color: #6B7C93;
      font-weight: 200; }

#contact-us input[type='email'], #contact-us input[type="text"], #contact-us textarea {
  margin-top: 10px;
  /* Rectangle 29 Copy 3: */
  background: #F7F7F7;
  border: 1px solid #E3E3E3;
  padding-left: 10px; }

#contact-us .container {
  width: 50%; }

#misc {
  background-color: #f6f9fc;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 17rem; }
  #misc .container {
    z-index: 5; }
  #misc .card .card-content .card-title {
    font-size: 17px;
    font-weight: 600;
    color: #B76AC4;
    letter-spacing: 1.1px;
    text-transform: uppercase; }
  #misc .card .card-content p {
    color: #6B7C93; }
  #misc .card .card-logo {
    height: 150px; }
    #misc .card .card-logo .valign-wrapper {
      height: 100%; }
  #misc:before {
    content: '';
    z-index: 0;
    min-height: 14rem;
    width: 110%;
    position: absolute;
    top: -14rem;
    left: -5rem;
    background-color: white;
    -webkit-transform: rotate(-6deg);
    -webkit-transform-origin: 100% 0 0;
    -moz-transform: rotate(-6deg);
    -moz-transform-origin: 100% 0 0;
    -ms-transform: rotate(-6deg);
    -ms-transform-origin: 100% 0 0;
    transform: rotate(-6deg);
    transform-origin: 100% 0 0; }

#instagram {
  background-color: #f6f9fc; }
  #instagram .col.s2 > img {
    height: 15rem;
    z-index: 2; }
  #instagram .col.s2 .overlay {
    height: 10vh;
    background-color: red; }

footer {
  background-color: #f6f9fc;
  padding: 0 100px;
  height: 100%;
  height: 17rem; }
  footer .resources > p {
    line-height: 1.1;
    color: #8998AA; }
    footer .resources > p a:link {
      color: #8998AA; }
    footer .resources > p a:visited {
      color: #8998AA; }
  footer .navigiton > p {
    line-height: 1.1;
    color: #8998AA; }
    footer .navigiton > p a:link {
      color: #8998AA; }
    footer .navigiton > p a:visited {
      color: #8998AA; }
  footer .bliss img {
    margin-right: 10px; }
  footer .bliss p {
    color: #8998AA; }
  footer .col > label {
    /* RESURSER: */
    text-transform: uppercase;
    font-family: SourceSansPro-Semibold;
    font-size: 15px;
    color: #8998AA;
    letter-spacing: 0.75px;
    font-weight: 600; }
