<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ProgSys - Linjeforening for ProgNett og ProSa</title>

    <meta name="description" content="Linjeforening for ProgNett og ProSa">
    <meta name="author" content="NEZT">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- Vendor imports of css -->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- all of the css for the page -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!--   ** VUE Components **  -->
    <script type="text/x-template" id="bliss-status">
        <p> {{ data }} </p>
    </script>

    <script type="text/x-template" id="contact-form">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <form class="col s12" v-on:submit.prevent="sendForm">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Ola Nordmann" v-model="form.name" id="first_name" type="text" class="validate" required>
                                <label for="first_name">Navn</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="ola@email.com" v-model="form.email" id="first_name" type="email" class="validate" required>
                                <label for="first_name">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea placeholder="Hei! Jeg trenger hjelp med..." v-model="form.message" rows="10" id="textarea1" class="materialize-textarea" required></textarea>
                                <label for="password">Beskjed</label>
                            </div>
                        </div>
                        <div class="row">
                            <center><input type="submit" value="Send Melding" class=" button-filled waves-effect waves-light btn-large"></input></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="memeber-form">
        <form class="col s12" v-on:submit.prevent="sendForm">
            <div class="modal-content">
                <h5>Bli Foreningsmedlem hos ProgSys</h5>
                <div class="divider"></div>

                <br>
                <div class="row">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" placeholder="Ola" v-model="form.firstname" type="text" class="validate" required>
                                <label for="first_name">Fornavn</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" placeholder="Nordmann" v-model="form.lastname" type="text" class="validate" required>
                                <label for="last_name">Etternavn</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" placeholder="ola@mail.com" v-model="form.email" type="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <div class="row" align="center">
                            <input type="checkbox" id="check" v-model="form.active">
                            <label for="check">Jeg ønsker å være et aktivt foreningsmedlem!</label>
                        </div>
                </div>
            
                <center><input type="submit" value="Bli Medlem" class=" button-filled waves-effect waves-light btn-large"></input></center>

            </div>
        </form>
    </script>
    <!--   ** VUE Components **   -->

    <!--   ** DOM **  -->
    <main id="app">
        <header>
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <!-- <a href="#!" class="brand-logo">Logo</a> -->
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons ">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="#about-us">Om Oss</a></li>
                            <li><a href="#board">Styret</a></li>
                            <li><a href="#contact-us">Kontakt Oss</a></li>
                            <li><a href="#misc">Vedtekter</a></li>
                        </ul>
                        <ul class="side-nav right" id="mobile-demo">
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="badges.html">Components</a></li>
                            <li><a href="collapsible.html">Javascript</a></li>
                            <li><a href="mobile.html">Mobile</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="header-content container">
                <!-- Page Content goes here -->
                <div class="row">
                    <div class="col s6 push-s7">
                        <div class="col s12 m9">
                            <div class="card event-card white lighten-1 z-depth-3" data-aos="fade-left">
                                <div class="card-content black-text">
                                    <div class="row">
                                        <span class="card-title">Arrangementer</span>
                                    </div>

                                    <div class="row center-align error">

                                        <img src="img/404.png" alt="">
                                        <p>Ingen kommende arrangementer...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-content col s6 pull-s6">
                        <br>
                        <h1 class="title white-text">Velkommen til ProgSys</h1>
                        <p class="subtitle flow-text white-text">Linjeforeningen for Programmering og Nettverk og Programmering og Systemarkitektur ved Universitet i Oslo.</p>
                        <br>
                        <a  href="#addmemeber" class="button-filled waves-effect waves-light btn-large">Bli medlem</a>
                        <a href="#contact-us" class="button-hallow aves-effect waves-light btn-large">Kom i Kontakt</a>
                    </div>
                </div>
            </div>
        </header>

        <section id="about-us">
            <div class="container">
                <h3 class="title"> Om Oss</h3>
                <p class="subtitle">ProgSys er en studentforening ved Institutt for informatikk ved Universitetet i Oslo. Foreningens formål er å fremme det sosiale og faglige miljøet ved master- og bachelorprogrammene. Finn oss på programrommet Bliss 3427 eller følg oss på sosiale medier for å holde deg oppdatert om kommende arrangementer.</p>
            </div>
        </section>

        <section id="board">
            <div class="container">
                <h3 class="title">Nåværende Styre</h3>
            </div>

                <div class="carousel" data-aos="fade-left">
                    <a class="carousel-item" id="sivert!" href="#sivert!" name="Sivert Schou Olsen" title="Leder" email="siverto@uio.no">
                        <img height="200" src="img/sivert.jpg"></a>

                    <a class="carousel-item" href="#petter!" id="hans!" name="Petter Sæther Moen" email="pettesm@uio.no" title="Nestleder">
                        <img height="200" src="img/petter.jpg"></a>

                    <a class="carousel-item" href="#daniel!" name="Daniel Johnsen" email="daniejoh@uio.no" title="Styremedlem">
                        <img height="200" src="img/daniel.jpg"></a>

                    <a class="carousel-item" href="#dom!" name="Domantas Lionas" email="---@uio.no" title="Styremedlem">
                        <img height="200" src="img/dom.jpg"></a>

                    <a class="carousel-item" href="#hans!" name="Hans Christian Tranøy Jenvild" title="Økonomisk Ansvarlig" email="hanscje@uio.no">
                        <img height="200" src="img/hans.jpg"></a>
                        
                    <a class="carousel-item" id="mattis" href="#mattis!" name="Mattis Bratland" title="Teknisk Ansvarlig" email="mattisbr@uio.no">
                        <img height="200" src="img/mattis.jpg"></a>
                </div>

                <div class="board-info">
                    <h5 id="board-name">Sivert Schou Olsen</h5>
                    <span id="board-title">Leder</span>
                    <p id="board-email">siverto@uio.no</p>
                </div>

        </section>

        <section id="contact-us">
            <div class="container">
                <h3 class="title">Kontakt Oss</h3>

                <contact-form></contact-form>
            </div>
        </section>

        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col s6 m6">
                        <a href="#addmemeber">
                            <div class="card white lighten-1 z-depth-2" data-aos="zoom-in">
                                <div class="row">
                                    <div class="col s2 card-logo">
                                        <div class="valign-wrapper">
                                            <img height="100" width="86" src="img/icons/member.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col s10">
                                        <div class="card-content black-text">
                                            <span class="card-title">Bli Foreningsmedlem  <img src="img/icons/arrow.svg" alt=""> </span>
                                            <p>For å stemme ved generalforsamlinger er du nødt til å være medlem. Lorem Ipsum</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col s6 m6 l6">
                        <a href="doc/vedtekter.pdf">
                            <div class="card white lighten-1 z-depth-2" data-aos="zoom-in">
                                <div class="row">
                                    <div class="col s2 card-logo">
                                        <div class="valign-wrapper">
                                            <img src="img/icons/paper.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col s10">
                                        <div class="card-content black-text">
                                            <span class="card-title">Våre Vedtekter <img src="img/icons/arrow.svg" alt=""></span>
                                            <p>Finn våre vedtekter her. Husk at vedtektene kan endres etter generalforsamling.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section id="instagram">
            <h3 class="title">Instagram</h3>

            <div class="row">
                <div class="col s2">
                    <img src="tile.png" alt="">
                </div>
                <div class="col s2">
                    <img src="tile.png" alt="">
                </div>
                <div class="col s2">
                    <img src="tile.png" alt="">
                </div>
                <div class="col s2">
                    <img src="tile.png" alt="">
                </div>
                <div class="col s2">
                    <img src="tile.png" alt="">
                </div>
                <div class="col s2">
                    <img src="tile.png" alt="">
                </div>
            </div>
        </section> -->

        <footer>
            <div class="row" style="display: flex;">
                <div class="col s5" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <div style="width: 20rem; display: flex; justify-content: space-between;">

                        <a href="https://www.facebook.com/Prognett"> <img src="img/icons/facebook.svg" width="50" height="50" alt=""> </a>
                        <a href="https://twitter.com/ifiprognett"> <img src="img/icons/twitter.svg" width="50" height="50" alt=""> </a>
                        <a href="https://www.instagram.com/ifiprognett/"> <img src="img/icons/instagram.svg" width="50" height="50" alt=""> </a>
                        <a href="#"> <img src="img/icons/slack.svg" width="50" height="50" alt=""> </a>
                    </div>

                    <br>
                    <div style="color: #939DA8">
                        ProgSys © 2018. Alle rettigheter reservert.
                        <br>
                        <center> <label> Utviklet av <a href="http://www.nezt.no"> NEZT </a> </label> </center>
                    </div>
                </div>

                <div class="resources col s2">
                    <label for=""> RESURSER </label>
                    <p> <a href="#"> UiO </a></p>
                    <p> <a href="#">Slack</a></p>
                    <p> <a href="#">Svett</a></p>
                    <p> <a href="#">PISK</a></p>
                </div>

                <div class="navigiton col s2">
                    <label for=""> Naviger </label>
                    <p><a href="#">Hjem</a></p>
                    <p><a href="#">Om Oss</a></p>
                    <p><a href="#">Styret</a></p>
                    <p><a href="#">Kontakt Oss</a></p>
                </div>

                <div class="bliss col s4">
                    <label for=""> Bliss Status </label>

                    <div class="card white lighten-1 z-depth-2">
                        <div class="card-content black-text">
                            <div class="valign-wrapper">
                                <img src="img/icons/bell.svg" alt="">
                                <bliss-status></bliss-status>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- {{ message }}
        <test></test> -->

        <!-- Modal Structure -->
        <div id="addmemeber" class="modal">
            <memeber-form></memeber-form>
        </div>

    </main>

    <!--   ** DOM **  -->

    <!--   ** Scripts **  -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <script src="js/vendor/vue.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/vendor/materialize.min.js"></script>
    <script src="js/plugins.js"></script>

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- jquery/javascript frontend modifications -->
    <script src="js/main.js"></script>

    <!-- the vue script -->
    <script src="js/app.js" charset="utf-8"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-98320546-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
