$green: #24B47E;
$grey: #f6f9fc;

* {
    font-family: 'Source Sans Pro' !important;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.button-filled {
    /* BG: */
    background: #3ECF8E;
    border-radius: 40px;
    /* 18:35:18:35: */
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #FFFFFF;
    width: 200px;
    height: 100%;
}

.button-hallow {
    border: 3px solid #FFFFFF;
    border-radius: 40px;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    width: 200px;
    height: 100%;
    margin-left: 10px;

    &:hover {
        background-color: white;
        color: black;
    }
}

header {
    overflow: hidden;
    position: relative;
    height: 80vh;
    /* Rectangle: */
    background-image: linear-gradient(-21deg, #A6FFCB 0%, #05D5FF 25%, #5533FF 80%);

    nav {
        background-color: rgba(0, 0, 0, 0.0);
        box-shadow: none;
    }

    .header-content {
        margin-top: 10vh;

        .text-content {
        }

        .event-card {
            overflow: visible;
            z-index: 5;
            height: 55vh;
            width: 130%;

            .card-title {
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 25px;
                color: $green;
                letter-spacing: 0.8px;
            }
        }

        .error {
            margin-top: 2rem;

            p {
                font-size: 16px;
                color: #8998AA;
            }
        }

        .title {
            /* Velkommen til ProgNe: */
            font-family: SourceSansPro-Regular;
            font-size: 42px;
            color: #FFFFFF;
            letter-spacing: 0.06px;
        }
        .subtitle {
            font-family: SourceSansPro-Regular;
            font-size: 17px;
            color: #D9FCFF !important;
            letter-spacing: 0.42px;
            line-height: 28px;
        }
    }

    &:after {
        content: '';
        z-index: 0;
        height: 25vh;
        width: 110%;
        position: absolute;
        bottom: 0;
        left: -5vh;

        background-color: white;

        -webkit-transform: rotate(-6.5deg);
        -webkit-transform-origin: 100% 0 0;
        -moz-transform: rotate(-6.5deg);
        -moz-transform-origin: 100% 0 0;
        -ms-transform: rotate(-6.5deg);
        -ms-transform-origin: 100% 0 0;
        transform: rotate(-6.5deg);
        transform-origin: 100% 0 0;
    }
}



section {
    // margin: 10vh;
    padding: 50px;

    .title {
        text-align: center;
        color: #24B47E;
        font-size: 24px;
        margin-bottom: 40px;

        text-transform: uppercase;
    }

    .subtitle {
        text-align: center;
        line-height: 1.8;
        color: #868686;
    }

}

#about-us {

    .container {
        width: 50%;
    }

}

#board {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $grey;

    .container {
        width: 50%;
    }

    h4  {
        text-align: center;
    }
    .carousel {
        margin-top: 5rem;
        height: 15rem;
        text-align: center;

        .carousel-item img {
            border-radius: 50%;
        }
    }

    .board-info {
        width: 100%;
        text-align: center;

        #board-name {
            color: #6B7C93;
            font-size: 26px;
            font-weight: 600;
        }

        #board-title {
            color: #6B7C93;
            font-size: 16px;
        }

        #board-email {
            color: #6B7C93;
            font-weight: 200;

        }
    }
}

#contact-us {
    input[type='email'], input[type="text"], textarea {
        margin-top: 10px;
        /* Rectangle 29 Copy 3: */
        background: #F7F7F7;
        border: 1px solid #E3E3E3;
        padding-left: 10px;
    }

    .contact-other {
        margin-top: 3rem;
    }
}

#misc {
    background-color: $grey;
    padding: 0;
    overflow: hidden;
    position: relative;

    height: 17rem;

    .container {
        z-index: 5;
    }

    .card {
        .card-content {
            .card-title {
                font-size: 17px;
                font-weight: 600;
                color: #B76AC4;
                letter-spacing: 1.1px;
                text-transform: uppercase;
            }

            p {
                color: #6B7C93;
            }
        }

        .card-logo {
            .valign-wrapper {
                height: 100%;
            }

            height: 150px;
        }
    }

    &:before {
        content: '';
        z-index: 0;
        min-height: 12rem;
        width: 110%;
        position: absolute;
        top: -20vh;
        left: -5vh;

        background-color: white;

        -webkit-transform: rotate(-6deg);
        -webkit-transform-origin: 100% 0 0;
        -moz-transform: rotate(-6deg);
        -moz-transform-origin: 100% 0 0;
        -ms-transform: rotate(-6deg);
        -ms-transform-origin: 100% 0 0;
        transform: rotate(-6deg);
        transform-origin: 100% 0 0;
    }
}

#instagram {
    background-color: $grey;

    .col.s2  {
        & > img {
            height: 15rem;
            z-index: 2;
        }

        .overlay {
            height: 10vh;
            background-color: red;
        }
    }
}

footer {
    background-color: $grey;
    padding: 0 100px;
    height: 100%;

    height: 17rem;


    .resources > p {
        line-height: 1.1;
        color: #8998AA;
    }

    .navigiton > p {
        line-height: 1.1;
        color: #8998AA;
    }

    .col > label {
        /* RESURSER: */
        text-transform: uppercase;
        font-family: SourceSansPro-Semibold;
        font-size: 15px;
        color: #8998AA;
        letter-spacing: 0.75px;
        font-weight: 600;
    }
}
